<div class="container">

    <div *ngIf="!mobileScreen" class=" image-container">

        <figure class="small">
            <img src="assets/images/note10withpen.png" alt="" class="home-image">
        </figure>
        <figure class="big">
            <img src="assets/images/note10_big.png" alt="" class="home-image">
        </figure>
        <figure class="big-shadow">
            <img src="assets/images/note10_big_shadow.jpg" alt="" class="home-image">
        </figure>
        <figure class="galaxy-text">
            <img src="assets/images/galaxy.png" alt="" class="home-image">
        </figure>
        <figure class="note10-text">
            <img src="assets/images/note10.png" alt="" class="home-image">

        </figure>


    </div>

    <div *ngIf="mobileScreen">


        <img src="assets/images/mobile.jpg" alt="" class="home-image">

        <h2 class="center">Galaxy Note10 | 10+</h2>

    </div>

    <div class="h-3x"></div>

    <div class="center">
        <button> Buy Now </button>
    </div>

    <div class="h-3x"></div>


    <section>
        <div class="center">

            <h2 class="section-title"> Introducing next level power</h2>

        </div>

        <div class="h-3x"></div>

        <p>
            With Galaxy Note10 and Note10+ we've designed a mobile experience that’s like a computer, a gaming console,
            a movie-tech camera, and an intelligent pen, all in one device
        </p>

    </section>




    <section>
        <h3 class="center">DESIGN</h3>

        <div class="center">

            <h2 class="section-title"> More screen, less interruption</h2>

        </div>

        <div class="h-3x"></div>

        <div class="center">
            <button type="dark"> Learn more </button>
        </div>

        <div class="h-5x"></div>

        <img src="assets/images/note10_laid.jpg" alt="note " class="center-image">

    </section>

    <section>
        <div class="center">
            <div class="section-1-by-2">
                <h2 class="section-title"> Now available in two sizes: powerful and powerful</h2>

            </div>
            <div class="section-1-by-2">

                <label>
                    <div class="h-x"></div>
                    For the first time ever, you can choose the Note size that suits you best.
                </label>
            </div>

            <div class="clear"></div>

        </div>

        <div class="h-3x"></div>

        <div class="design-image-container">

            <figure id='animation-left' class="glow_small">
                <img src="assets/images/note10_glow.png" alt="" class="">

            </figure>
            <figure id='animation-right'
                
                class="glow_big">
                <img src="assets/images/note10_glow_big.png" alt="" class="">
            </figure>

        </div>



    </section>

</div>

<app-footer></app-footer>