/*Color Varialbles*/

:root {
  --bg1: #f8f9fb;
  --black1: #000000;
  --black2: #252525;
  --blue1: #1d63d9;
  --blue2: #277ef5;
  --blue4: #f5faff;
  --dark-blue: #203680;
  --green1: #00c9d3;
  --green2: #dcfaf7;
  --green3: #00b7be;
  --green4: #22d396;
  --grey1: #6b7d93;
  --grey2: #6d829f;
  --grey3: #8a8a8a;
  --grey4: #eeeeee;
  --red1: #c10015;
  --red2: #f84b4b;
  --white: #ffffff;
  --white2: #ffffff66;


  --background1: #673ab7;
  --background2: #ffffff;

  --text: #252525;

  --pieDataColor: #ffffff;
}
