<div class="container">
    <img src="assets/icons/logo.svg" alt="logo" class="left m-t-12">

    <div class="left m-l-5x m-t-x2" *ngIf="fullScreen">

        <label class="nav-card left">Mobile</label>
        <label class="nav-card left">TV & AV</label>
        <label class="nav-card left">Home Appliance</label>
        <label class="nav-card left">Computing</label>
        <label class="nav-card left">Displays</label>
        <label class="nav-card left">Offers</label>

        <div class="clear"></div>

    </div>

    <div class="right">

        <div class="left m-r-4x m-t-x2" *ngIf="fullScreen">
        
            <label class="nav-card left">Explore</label>
            <label class="nav-card left">Support</label>
            <label class="nav-card left">Buisness</label>
    
            <div class="clear"></div>
    
        </div>
        
        <img src="assets/icons/search.png" alt="search" class="left logo">
        <img src="assets/icons/cart.png" alt="cart" class="left logo">
        <img src="assets/icons/options.png" alt="more" class="left logo">

        <div class="clear"></div>

    </div>

    <div class="clear"></div>
</div>