<div class="div-h-solid"></div>
<div class="container">
    <p>
        Copyright ⓒ 1995-2021 SAMSUNG All Rights reserved.
        <br>
        Please dispose of e-waste and plastic waste responsibly.

        <br>
        <br>
        <!-- <div class="h-2x"></div> -->
        For more information or e-waste pick up, please call 1800 40 SAMSUNG (7267864) or 1800 5 SAMSUNG (7267864) or click here for more details.
        <br>
        This website is best viewed using Microsoft Internet Explorer 11 or higher, and/or latest version of Google Chrome and Mozilla Firefox browsers.
        <!-- <div class="h-2x"></div> -->

        <br>
        <br>

        Registered Office Address: 6th Floor, DLF Centre, Sansad Marg, New Delhi-110001
        <br>
        Corporate Identification Number (CIN): U31900DL1995PTC071387


        <br>
        <br>
        <b>Developed by ACHAL UTKARSH</b>
    </p>
    <div class="h-2x"></div>

    <div class="div-h-solid"></div>
    <div class="h-2x"></div>

    <p class="left vertical-align m-r-2x"><b>India/English</b></p>
    <p class="left vertical-align m-r-2x"> | </p>

    <div class="clear" *ngIf="mobileScreen"></div>

    <p class="left vertical-align m-r-2x"> Accessibility Help</p>
    <p class="left vertical-align m-r-2x"> Privacy </p>
    <p class="left vertical-align m-r-2x"> Legal </p>
    <p class="left vertical-align m-r-2x"> CSR Policy</p>
    
    
    <div class="right m-l-2x vertical-align">
        
        <a href = "https://portfolio-sandy-delta.vercel.app/" target="_blank">
            <img src="assets/icons/linkedin.svg" alt="linkedin" class="icon ">
        </a>
    </div>

    <a href = "https://www.linkedin.com/in/achal-utkarsh-516733113/" target="_blank" class="right vertical-align m-r-2x"> <b> Connect with the developer </b> </a>
    <div class="clear"></div>
</div>
